@media (max-width:1450px){
    #tuf-text-box h2{
        font-size: 5rem;
    }
    #tuf-text-box p{
        font-size: 3rem;
    }
    .second-hero-card{
        width: unset !important;
    }
    .third-hero .col-lg-6 p{
        width: unset !important;
        margin: 0;
    }
    #sixth-hero-inner-2 .col-lg-6 #text-box{
        width: unset !important;
    }
    #sixth-hero-section-2{
        padding: 0 !important;
    }

}
@media (max-width:1220px){
    #tuf-text-box h2{
        font-size: 4rem;
    }
    #tuf-text-box p{
        font-size: 2rem;
    }
}
@media (max-width:1107px) {
    #second-hero-inner{
        flex-direction: column;
        align-items: center;
    }
    #second-hero-inner .col-lg-6{
        width: 100%;
        margin: 0 !important;
        padding-bottom: 0 !important;
        padding-top: 0 !important;
    }
}
@media (max-width:991px){
    #tuf-text-box{
        margin-top: 0;
    }
    #third-hero-inner{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media (max-width:768px) {
    #asus-logo-2{
        margin-top: 15px;
        display:block;
    }
    .nav-bar-2{
        justify-content: center;
        padding: 10px;
        margin-top: 0;
    }
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .right-nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #181818;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0px;
    }
    .right-nav-menu.active{
        left: 0;
    }
    .first-hero{
        height: 360px;
    }
    #tuf-text-box{
        margin-top: 0;
        line-height: 1rem;
    }
    #tuf-text-box h2{
        font-size: 2rem;
        margin: 0;
    }
    #tuf-text-box p{
        font-size: 1.5rem;
        margin: 0;
    }
    .second-hero{
        padding-top: 80px !important;
    }
    .third-hero{
        height: auto !important;
    }
    .third-hero div{
        padding-top: 80px !important;
    }
    .third-hero video{
        width: unset !important;
    
    }
    #third-hero-inner{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .third-hero .col-lg-6{
        margin: 0 !important;
        padding: 0 !important;
    }
    .third-hero .col-lg-6 p{
        width: unset !important;
        margin: 0;
    }
    .fourth-hero{
        height: auto !important;
    }
    .fourth-hero div{
        padding-top: 50px !important;
        width: unset !important;
    }
    #fourth-hero-inner{
        flex-direction: column-reverse;
    }
    #fourth-hero-inner p{
        margin: 0 !important;
        font-size: 16px;
    }
    .fifth-hero div{
        padding-top: 50px !important;
    }
    .fifth-hero p{
        font-size: 16px;
    }
    .fifth-hero .col-lg-6{
        padding: 0 !important;
    }
    #fifth-hero-inner{
        flex-direction: column-reverse !important;
    }
    #fifth-hero-inner div{
        padding: 0;
    }
    #fifth-hero-inner h2, .fifth-hero p{
        width: unset !important;
        margin-left: 0;
    }
    #sixth-hero-section-1{
        width: unset !important;
        padding-top: 0 !important;
    }
    #sixth-hero-section-1 h3{
        font-size: 2rem !important;
    }
    #sixth-hero-section-1 p{
        margin: 0;
    }
    #sixth-hero-inner-1 img{
        padding-top: 0 !important;
    }
    #sixth-hero-section-2{
        justify-content: center;
        width: unset !important;
        padding-top: 5rem !important;
    }
    #sixth-hero-inner-2{
        flex-direction: column !important;
    }
    
    

}